@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
header{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 800px;
    column-gap: 100px;
   background: url("./7RfP.gif") center/cover no-repeat;
}
h1 {
    font-family: 'Neonderthaw', cursive;
}
button{
    margin-top: 100px;
    background: red;
    width: 200px;
    height: 50px;
}
